body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

html, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    -webkit-tap-highlight-color: transparent;
}

img {
    -webkit-user-drag: none;
}

.logo{
    position:absolute;
    width:25vw;
    top: 10vw;
    margin-left: 37.5vw;
    z-index: 1;
}

.headerCover{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
}

.header {
    position: relative;
    width: 100vw;
    height: 36vw;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerInfo {
    top:-1vw;
    position: relative; /* Change position to relative */
    text-align: center;
    width: 100vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-shadow: -0.01em 0.01em 0.1em rgba(0, 0, 0, 1);
}

.headerButtonHold {
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-shadow: -0.01em 0.01em 0.1em rgba(0, 0, 0, 1);
    position: relative;
    top: 1vw;
    width: 100vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.headerButton {
    text-decoration: none;
    display:block;
    cursor: pointer;
    color: white;
    border: 0.15em solid white;
    padding:0.3em;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    overflow: hidden;
    transition: background-color, border 0.2s;
    box-shadow: 0vw 0vw 0.4vw rgba(0, 0, 0, 0.6);
    font-size: 0.6em;
}
.headerButton p{
    line-height: 0;
    text-align: center;
    vertical-align: middle;
}

.headerButton:hover {
    background-color: rgba(255, 0, 76, 0.8);
    border: 0.15em solid rgba(255,0,99,1);
}





#slideContact{
    justify-content: center;
    align-items: center;
    height: 40vw;
    background-color: rgb(198, 0, 82);
}

.contactSquare {
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select:text; 
    padding:2vw;
    z-index: 1;
    width: 40vw;
    height: 27.5vw;
    outline: none;
    background-color: white;
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5vw;
}






.contentQuote{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vw;
    background-color: black;
    font-size: 1.75vw;
}

.contentQuoteSlim{
    display: flex;
    align-items: center;
    position:relative;
    width: 100vw;
    height: 6vw;
    background-color: black;
}

.contentQuoteSlim p{
    position:absolute;
    width: 100%;
    text-align: center;
}
.contentQuoteSlim a{
    text-decoration: none;
    color: black;
}

.contentSlide{
    position:relative;
    display: flex; 
    justify-content: center;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

#Skybound{
    justify-content: center;
    align-items: center;
    height: 30vw;
    gap: 4vw; 
}

#slide1{
    justify-content: center;
    align-items: center;
    height: 30vw;
    gap: 4vw; 
}

#slide2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vw;
    gap:5vw;
}

#slide3{
    justify-content: center;
    align-items: center;
    height: 30vw;
    gap:5vw;
    background-color: rgb(198, 0, 82);
}

.contentImage{
    position:absolute;
    height:16vw;
    top:-2vw
}

.contentImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
}


.storeImage {
    text-decoration: none;
    display:block;
    background-size: cover;
    background-position: center;
    position:relative;
    cursor: pointer;
    color: white;
    height:100%;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    overflow: hidden;
}

.storeButtonHold {
    position: relative;
    top: 5.5vw;
    right:0.5vw;
    width: 100vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    gap: 2em;
}



.storeButton {
    text-decoration: none;
    display:block;
    cursor: pointer;
    
    padding:0.3em;
    outline: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
  }


.slideImage{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoSlide{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}


video.background {
    background: black
}

.contentBox {
    z-index: 1;
    width: 20vw;
    height: 20vw;
    outline: none;
    transition: transform 0.5s;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
}

.contentBox:hover {
    transform: scale(1.1);
}

.boxTop{
    width: 100%;
    height: 75%;
    margin: 0;
    display: flex;
}

.contentBox .boxTop img{
    transition: transform 0.5s, opacity 0.5s; /* Add transition for smooth effect */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.05);
    opacity: 1;
}

.contentBox:hover .boxTop img{
    transform: scale(1); /* Adjust the scale value as needed */
}

.contentBox:hover .boxImg{
    opacity: 0;
}

.boxImg{
    margin-left:-100%;
}
.boxGif{
    z-index:0;
}


.contentBar {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: white;
    font-size: 1.75vw;
    z-index:2;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translateY(-0.4vw); }
    50%  { transform: translateY(0.4vw); }
    100%   { transform: translateY(-0.4vw); }    
}

.wideBox {
    position:relative;
    background-color: rgb(88, 0, 0);
    display: flex; 
    justify-content: center;
    width: 40vw;
    height: 15vw;
    outline: none;
    transition: transform 0.5s;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
}

.wideBox img {
    transition: transform 0.5s; /* Add transition for smooth effect */
    width: 37.5%;
    height: 100%;
    object-fit: cover;
    margin-left: 0;
    transform: scale(1);
}

.wideSubjectHold {
    position: absolute;
    transition: transform 0.5s;
    transform: scale(1);
}

.wideBox:hover img {
    transform: scale(1.02); /* Adjust the scale value as needed */
}
.wideBox:hover .wideSubjectHold img {
    transform: scale(1.12);
    z-index: 1;
}

.wideBox:hover .wideRight {
    opacity: 0;
}


.wideRight {
    background-color: white;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 62.5%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}


.wideRevealed{
    background-color: rgb(255, 255, 255);
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 58.5%;
    left:37.5%;
    height: 100%;
}


.contentSquare {
    z-index: 1;
    width: 20vw;
    height: 20vw;
    outline: none;
    transition: transform 0.5s;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
}



.contentSquare:hover {
    transform: scale(1.1);
}

.contentSquare .boxTop img {
    transition: transform 0.5s; /* Add transition for smooth effect */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transform: scale(1.05);
}

.contentSquare:hover .boxTop img {
    transform: scale(1); /* Adjust the scale value as needed */
}

.squareTop{
    width: 100%;
    height: 75%;
    margin: 0;
}

.squareBar {
    position:relative;
    width: 100%;
    height: 75%;
    transition: 0.5s;
    background-color: white;
    bottom:0vw;
}
.contentSquare:hover .squareBar {
    bottom:50%;
}


.squareBarTop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34%;
}
.squareBarBottom{ 
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-2vw;
    height:54%;
    padding:1.5vw; 
}



.footer{
    position:relative;
    text-align: center;
    width: 100vw;
    height: 10vw;
    background-color: black;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.textContent{
    margin:0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.75vw;
}

.textShadow{
    margin:0px;
    font-size: 1.75vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-shadow: -0.05vw 0.05vw 0.3vw rgba(0, 0, 0, 1);
    font-size: 1.75vw;
}

.textColorBold{
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.75vw;
}


@media only screen and (hover: none) and (pointer: coarse) {
    .header {
        height: 70vh;
    }
    .headerInfo {
        font-size: 250%;
    }
    .headerButtonHold {
        height: 1em;
        gap: 1em;
    }
    .headerButton{
        border: 0.15em solid white;
    }
    .logo{
        position:absolute;
        width:70vw;
        top: 50vw;
        margin-left: 15vw;
        z-index: 1;
    }
    .contentQuote{
        height: 40vh;
        padding-left:24vw;
        padding-right:24.9vw;
    }
    .contentQuote p{
        font-size: 5vw;
    }
    .contentQuoteSlim{
        height: 14vw;
    }

    #Skybound{
        height:80vw;
        flex-direction: column;
        gap:17.5vw;
    }

    .contentImage{
        top:2vw;
    }

    .contentImage img{
        width:120vw;
    }

    .storeButtonHold{
        top:15vw;
        height:12vw;
    }

    #slide1{
        height:170vw;
        flex-direction: column;
        gap:17.5vw;
    }
    .contentBox{
        width:60vw;
        height:60vw;
        border-radius: 3vw;
    }
    #slide2{
        height:120vw;
        gap:17.5vw;
    }
    .wideBox{
        width:90vw;
        height:33.75vw;
        border-radius: 3vw;
    }
    #slide3{
        height:250vw;
        flex-direction: column;
        gap: 17.5vw
    }

    .contentSquare{
        height: 60vw;
        width:60vw;
        border-radius:3vw;
    }

    .footer{
        height:20vh;
        font-size: 50%;
        color:white;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    .text{
        font-size: 5vw;
    }
    .textContent{
        font-size: 5vw;
    }
    .textColorBold{
        font-size: 5vw;
    }
    .textShadow{
        font-size: 5vw;
    }

    #slideContact{
        height: 100%;
    }
    .contactSquare{
        margin:7.5%;
        padding:4vh;
        height:60%;
        width:60%;
        border-radius: 1vh;
        font-size:100%;
    }
}