

body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
  
html, main {
    margin: 0;
    padding: 0;
}
.header{
    position:relative;
    width: 100vw;
    height: 36vw;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
}

.headerButtonHold{
    position:absolute;
    top: 19vw;
    width: 100vw;
    height: 3vw;
    display: flex;
    justify-content: center;
}

.headerButton {
    color: white; /* Set text color to white */
    background-color: transparent; /* Make background transparent */
    border: 0.2vw solid white; /* Set white border */
    outline: none; /* Remove default focus outline */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 1.5vw;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center content */
    border-radius: 0.3vw;
    overflow: hidden;
    transition: 0.2s;
}
.headerButton p{
    line-height: 0;
    text-align: center;
    vertical-align: middle;
}

.headerButton:hover {
    background-color: rgba(255, 0, 76, 0.8); /* Change background color on hover */
    border: 0.2vw solid rgba(255, 0, 76, 1);
}


.contentQuote{
    position:relative;
    width: 100vw;
    height: 20vw;
    background-color: black;
}

.contentQuoteSlim{
    position:relative;
    width: 100vw;
    height: 6vw;
    background-color: black;
}

.contentQuoteSlim p{
    position:absolute;
    width: 100%;
    text-align: center;
}
.contentQuoteSlim a{
    text-decoration: none;
    color: black;
}



.contentSlide{
    position:relative;
    width: 100vw;
    background-color: rgb(111, 140, 255);
    background-size: cover;
    background-position: center;
}

.slideImage{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBoxHold {
    display: flex; 
    justify-content: center;
    gap: 4vw; /* Adjust the gap between content boxes */
}

.contentBox {
    margin-top: 5vw;
    z-index: 1;
    width: 20vw;
    height: 20vw;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
}

.contentBox:hover {
    transform: scale(1.1);
}

.contentBox .boxTop img {
    transition: transform 0.5s; /* Add transition for smooth effect */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transform: scale(1.05);
}

.contentBox:hover .boxTop img {
    transform: scale(1); /* Adjust the scale value as needed */
}

.boxTop{
    width: 20vw;
    height: 15vw;
    margin: 0;
}

.contentBar {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 5vw;
    background-color: white;
}

.wideBoxHold {
    margin-left: 30vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.wideBox {
    position:relative;
    margin-top:5vw;
    background-color: rgb(88, 0, 0);
    display: flex; 
    justify-content: center;
    width: 40vw;
    height: 15vw;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.6);
}

.wideBox img {
    transition: transform 0.5s; /* Add transition for smooth effect */
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin-left: 0;
    transform: scale(1);
}

.wideBox:hover img {
    transform: scale(1.1); /* Adjust the scale value as needed */
}
.wideBox:hover .wideRight {
    opacity: 0;
}


.wideRight {
    background-color: white;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}


.wideRevealed{
    background-color: rgb(255, 255, 255);
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1vw 1vw;
    width: 23vw;
    left:15vw;
    height: 13vw;
}




.textHeader{
    top: 8vw;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-shadow: -0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 1);
}

.textTitle{
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 20vw; 
    font-size: 2vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
    color: white;
    text-shadow: -0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 1);
}

.textContent{
    font-size: 1.75vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.textShadow{
    font-size: 1.75vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-shadow: -0.05vw 0.05vw 0.3vw rgba(0, 0, 0, 1);
}

.textColorBold{
    font-size: 1.75vw;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.footer{
    position:relative;
    width: 100vw;
    height: 10vw;
    background-color: black;
    background-size: cover;
    background-position: center;
}
